/* YOUR CUSTOM STYLES */

/* Navigation*/
.navbar {
    background-color: #3F729B;
    icon: inherit;
}

main {
    margin-top: 3rem;
}

main .card {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

footer.page-footer {
    background-color: #37474F;
    margin-top: 2rem;
}

/*Drag and drop*/
.drop-div {
    border: 2px dashed;;
    color: #3F729B;
    text-align: center;
    line-height: 70px;
    width: 250px;
    margin: auto;
    font-size: 30px;
    display: inline-block;
}

#link, #uploading-photo, .drop-div {
    display: none
}

.drop-div {
    display: inline-block;
}

.uploading .drop-div {
    color: #b600ee;
}

.uploaded .drop-div {
    color: #34e721;
}

.uploaded #link {
    display: inline
}

.error-upload .drop-div {
    color: #ee0610;
}

.error-upload #uploading-photo {
    display: inline
}

/*Navbar problems resolved*/
@media screen and (min-width: 300px) {
    .navbar.scrolling-navbar {
        padding-bottom: 34px;
    }
}

@media (min-width: 300px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 0px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 996px) {
    .navbar.scrolling-navbar {
        padding-bottom: 12px;
    }
}

@media (min-width: 996px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

