/* YOUR CUSTOM STYLES */

#register-form {
    margin-top: 150px;
}

#created-message {
    margin-top: 150px;
    display: none;
}

.login-page {
    margin-top: 150px;
!important;
}

#activated-message {
    margin-top: 150px;
}

.view {
    height: 100%;
}

/* Navigation*/

.navbar {
    background-color: #3F729B;
    icon: inherit;
}

/*Background image*/
.full-height,
.full-height body,
.full-height header,
.full-height header .view {
    height: 100%;
}

/*Intro*/
.view-bk {
    background: url("https://static.pexels.com/photos/121848/pexels-photo-121848.jpeg") no-repeat center center;
    background-size: cover;
}

main {
    margin-top: 3rem;
}

main .card {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

footer.page-footer {
    background-color: #37474F;
    margin-top: 2rem;
}

/*Drag and drop*/
.drop-div {
    border: 2px dashed;;
    color: #3F729B;
    text-align: center;
    line-height: 70px;
    width: 250px;
    margin: auto;
    font-size: 30px;
    display: inline-block;
}

#link, .uploading-photo, .drop-div {
    display: none
}

.drop-div {
    display: inline-block;
}

.uploading .drop-div {
    color: #b600ee;
}

.uploaded .drop-div {
    color: #34e721;
}

.error-upload .drop-div{
    color: #ee0610;
}

.uploading .uploading-photo {
    display: inline
}

.uploaded #link {
    display: inline
}
