#register-form {
    margin-top: 150px;
}

#created-message {
    margin-top: 150px;
    display: none;
}

.login-page {
    margin-top: 150px;
!important;
}

#activated-message {
    margin-top: 150px;
}

.view {
    height: 100%;
}


/*Background image*/
.full-height,
.full-height body,
.full-height header,
.full-height header .view {
    height: 100%;
}


/*Intro*/
.view-bk {
    background: url('/photos/background.jpg') no-repeat center center;
    background-size: cover;
}